// @todo 드롭다운 스타일 작성
.dropdown {
  background: #fff;
  box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  padding: spacing(3) 0;

  &__menuitem {
    display: block;
    width: 100%;
    padding: spacing(1) spacing(3);
    text-align: left;
  }
}
