.app-logo {
  display: flex;
  justify-content: flex-start;
  margin-right: $container-min-width - $app-main-width - $app-logo-size;;
  width: $app-logo-size;
  height: $app-logo-size;

  &__link {
    display: inline-block;
    vertical-align: top;
  }

  &__img {
    display: block;
  }
}
