.app-logo {
  display: flex;
  justify-content: flex-start;
  margin-right: $container-min-width - $app-main-width - $app-logo-size;;
  width: $app-logo-size;
  height: $app-logo-size;

  &__heading {
    line-height: 1;
    font-size: inherit;
  }

  &__icon {
    display: block;
  }
}
