.form-field {
  &__wrapper {
    display: block;
    pointer-events: none;
  }

  &__label {
    display: inline-block;
    vertical-align: top;
    padding-bottom: spacing(1);
    color: $font-color-secondary;
    font-size: $font-size-level-3;
    font-weight: bold;
    pointer-events: auto;
  }

  &__slot {
    display: flex;
    pointer-events: auto;

    .text-field, .text-area {
      width: 100%;
      vertical-align: top;
    }
  }

  &__message {
    padding-left: 2px;
    color: $font-color-tertiary;
    font-size: $font-size-level-1;

    &--error {
      color: $red;
    }
  }
}
