.question-profile {
  display: flex;
  align-items: center;
  float: left;

  &__link {
    width: 32px;
    height: 32px;
    background: $skeleton-color;
    border-radius: 9999px;
  }

  &__img {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

.profile-list {
  margin-left: spacing(3);

  &__user {
    margin-bottom: spacing(1);
  }

  &__link {
    display: block;
    font-size: $font-size-level-2;
    line-height: 1.17;
    color: $gray-900;
  }

  &__date {
    font-size: $font-size-level-1;
    line-height: 1;
    color: $gray-600;
  }
}
