.button {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: max-content;
  height: 40px;
  padding: 0 spacing(5);
  background: $green;
  border-radius: 20px;
  border: 1px solid $green;
  color: #ffffff;
  font-size: $font-size-level-3;
  font-weight: bold;
  line-height: 38px;
  transition: $transition-duration-normal $ease-out;
  transition-property: box-shadow, background-color, border-color;
  cursor: pointer;

  &:hover {
    background-color: $green-light;
    border-color: $green-light;
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba($green, .33);
    outline: none;
  }

  &:active {
    background-color: $green-dark;
    border-color: $green-dark;
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: $gray-300;
    border-color: $gray-300;
    cursor: default;
  }
}
