.button {
  width: 93px;
  height: 40px;
  border-radius: 20px;
  background: $green;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  font-size: $font-size-level-3;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
}

.button:hover {
  background: $green-light;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba($green, .33);
}

.button:active {
  background: $green-dark;
}

.button:disabled {
  background: $gray-300;
}
