.app-layout {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  margin-top: spacing(20.5);
  box-sizing: border-box;
}

.app-index {
  display: flex;
  flex: 0 0 780px;
  padding-top: 80px;
}
