.question-summary-card {
  display: flex;
  height: 100%;
  padding: spacing(10) spacing(10) spacing(10) spacing(6);
  margin-bottom: spacing(10);
  box-sizing: border-box;
}

.post-vote {
  display: flex;
  flex: 0 0 72px;
  flex-direction: column;
  align-items: center;
  padding-top: spacing(2);

  &__button {
    width: 24px;
    height: 16px;
    background: none;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;

    &--up {
      border-top: 12px solid transparent;
      border-bottom: 12px solid $skeleton-color;
      padding: 0;
    }

    &--down {
      border-top: 12px solid $skeleton-color;
      border-bottom: 12px solid transparent;
      padding: 0;
    }
  }

  &__result {
    height: 20px;
    padding: spacing(3) 0;
    font-size: $font-size-level-5;
    font-weight: bold;
    line-height: 1;
    color: $gray-500;

    &--like {
      color: $blue;
    }

    &--unlike {
      color: $red;
    }
  }
}


.post-main {
  flex: 1 1;
  padding-left: spacing(6);

  &__title {
    display: inline-block;
    vertical-align: top;
    margin-bottom: spacing(5);
    box-sizing: border-box;
    font-size: $font-size-level-5;
    font-weight: bold;
    color: $gray-900;
  }

  &__content {
    max-height: 140px;
    height: 100%;
    margin-bottom: spacing(4);
    font-size: $font-size-level-3;
    line-height: 2;
    color: $gray-700;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__tags {
    margin-bottom: spacing(7);

    &--item {
      background-color: rgba($green-light, 0.25);
      color: $green-dark;
    }
  }
}

.question-counter {
  display: flex;
  align-items: center;
  float: right;
  height: 32px;

  &__item {
    display: flex;
    align-items: center;
    font-size: $font-size-level-2;
    line-height: 1.17;
    color: $gray-500;

    & + & {
      margin-left: spacing(5);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    font-size: $font-size-level-5;
    margin-right: spacing(2);

    path {
      fill: $gray-500;
    }
  }
}
