.auth-form {
  width: 416px;
}

.auth-form-heading {
  border-bottom: 1px solid $gray-300;
  margin-bottom: spacing(9);
  padding-bottom: spacing(5);
  color: $gray-900;
  font-size: $font-size-level-6;
  font-weight: bold;
}

.auth-form-submit-row {
  margin-top: spacing(9);
}

.auth-submit {
  width: 200px;
}

.auth-form-desc-row {
  height: 18px;
  margin-top: spacing(3);
  color: $gray-600;
  font-size: $font-size-level-2;

  a {
    color: $gray-900;
    font-size: $font-size-level-2;
    font-weight: bold;
  }
}

.login-label {
  display: flex;
  align-items: center;

  &__desc {
    height: 18px;
    padding-left: spacing(1);
    color: $gray-600;
    font-size: $font-size-level-2;
  }
}
