.text-box {
  padding: 11px spacing(3);
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(#000, 0.06);
  box-sizing: border-box;
  border: solid 1px $gray-300;
  background-color: #ffffff;
  font-size: $font-size-level-2;
  color: $font-color-primary;
  line-height: 1.5;
  transition: $transition-duration-fast $ease-out;
  transition-property: border, box-shadow, color, background-color;

  &:hover, &:focus {
    border-color: $gray-500;
    box-shadow: 0 1px 2px 0 rgba(#000, 0.16);
    outline: none;
  }

  &::placeholder {
    color: $font-color-placeholder;
  }

  &:disabled {
    border-color: $gray-300;
    background-color: $gray-50;
    box-shadow: 0 1px 2px 0 rgba(#000, 0.06);
    color: $font-color-disabled;
  }
}
