.alert {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  padding: spacing(3) spacing(4);

  &__icon {
    margin-right: spacing(3);
    font-size: 24px;

    &--info {
      color: $blue;
    }

    &--success {
      color: $green;
    }

    &--error {
      color: $red;
    }

    &--warning {
      color: $yellow;
    }
  }

  &__message {
    font-size: $font-size-level-3;
  }
}

.alert-info {
  background: rgba($blue-light, 0.25);
  color: $blue-dark;
}

.alert-success {
  background: rgba($green-light, 0.25);
  color: $green-dark;
}

.alert-error {
  background: rgba($red-light, 0.25);
  color: $red-dark;
}

.alert-warning {
  background: rgba($yellow-light, 0.25);
  color: $yellow-dark;
}
