.auth-layout {
  display: flex;
  width: 100%;
}

.auth-header {
  position: relative;
  width: 600px;
  height: 100vh;
  min-height: 1080px;
  padding: spacing(16) 0 spacing(24) spacing(15);
  background: #f4faf8;
  box-sizing: border-box;
}

.auth-logo {
  margin-bottom: spacing(17);

  img {
    width: 178px;
    height: 42px;
    object-fit: contain;
  }
}

.auth-desc {
  margin-bottom: 99px;

  &__title {
    height: 100px;
    margin-bottom: spacing(6);

    p {
      color: $gray-900;
      font-size: 40px;
      font-weight: bold;
      line-height: 1.25;
    }
  }

  &__ul {
    li {
      color: $gray-700;
      font-size: $font-size-level-4;
    }
  }
}

.auth-desc:after {
  position: absolute;
  content: '';
  width: 760px;
  height: 491px;
  bottom: 96px;
  background: url('/signup-bg.png') no-repeat;
}
