.auth-layout {
  position: relative;
  background: #f4faf8;
  box-sizing: border-box;
  width: 600px;
  min-height: 1080px;
  padding: spacing(16) 0 spacing(24) spacing(15)
}

.auth-logo {
  margin-bottom: spacing(17);

  img {
    width: 178px;
    height: 42px;
    object-fit: contain;
  }
}

.auth-desc {
  margin-bottom: 99px;

  &__title {
    width: 455px;
    height: 100px;
    margin-bottom: spacing(6);

    p {
      font-size: 40px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: $gray-900;
    }
  }

  &__ul {
    li {
      font-size: $font-size-level-4;
      line-height: 1.5;
      color: $gray-700;
    }
  }
}

.auth-desc:after {
  position: absolute;
  content: '';
  background: url('/signup-bg.png') no-repeat;
  width: 760px;
  height: 491px;
  bottom: 96px;
}
