$font-family-sans-serif: 'Spoqa Han Sans', sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-level-6: 24px;
$font-size-level-5: 20px;
$font-size-level-4: 16px;
$font-size-level-3: 14px;
$font-size-level-2: 12px;
$font-size-level-1: 11px;
$font-size-base: $font-size-level-3;

$line-height-base: 1.5;
