.comments {
  &__text {
    font-size: $font-size-level-2;
    color: $gray-900;
  }

  &__user {
    font-size: $font-size-level-2;
    color: $green-dark;

    &:hover {
      text-decoration: none;
    }
  }

  &__date {
    display: inline-block;
    margin: 0 spacing(2) 0 spacing(1);
    font-size: $font-size-level-2;
    color: $gray-700;
  }

  &__benefits {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: spacing(1);
    color: $gray-500;
  }
}
