.app-nav {
  flex: 1;
  padding: spacing(20) spacing(20) 0 0;

  &__item {
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: spacing(4);
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px spacing(6);

    &:hover {
      background: $gray-100;
      border-radius: 22px;
      text-decoration: none;
    }
  }

  &__img {
    margin-right: spacing(4);
  }
}

.is-active {
  height: 44px;
  background: rgba(187, 226, 210, 0.25);
  border-radius: 22px;
  box-sizing: border-box;
  font-size: $font-size-level-3;
  font-weight: bold;
  line-height: 3.14;
  color: $green-dark;

  path {
    fill: $green-dark;
  }

  &:hover {
    background: rgba(187, 226, 210, 0.25);
  }
}
