.post-vote {
  display: flex;
  width: $post-vote-width;
  flex-direction: column;
  align-items: center;

  &__button {
    width: 20px;
    height: 12px;
    background: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    &--up {
      order: -1;
      border-top: 0px solid transparent;
      border-bottom: 12px solid $skeleton-color;
      padding: 0;
    }

    &--down {
      border-top: 12px solid $skeleton-color;
      border-bottom: 0px solid transparent;
      padding: 0;
    }
  }

  &__result {
    height: 20px;
    padding: spacing(3) 0;
    font-size: $font-size-level-5;
    font-weight: bold;
    line-height: 1;
    color: $gray-500;

    &--like {
      color: $blue;
    }

    &--unlike {
      color: $red;
    }
  }
}
